.cs.parallel {color:burlywood}
.cs {
    font-family: 'ProvidentPali';
    font-size:1.2em;
}
.cs-iast {
    font-family: 'Tahoma';
    font-size:1em;
}
.cs .bk 
{ 
}
.cs .ck 
{ 
}
.cs .n 
{ 
}
.cs .h 
{ 
}
.cs .sz 
{ 
}
.cs .trailer 
{ 
}
.cs .end 
{ 
}